.homePage-content {
  /*background-image: url("../pictures/kimzy-nanney-LNDgBERq8Q0-unsplash.jpg");*/
  background-color: var(--swatch-light-blue);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.homePage-block {
  display: flex;
  gap: 20px;
  width: 70%;
  flex-wrap: wrap;
}
