body {
  margin: 0;
  font-family: -apple-system, "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button {
  margin: 0;
  padding: 0;
}

p,
label,
button {
  font-size: 14px;
}

button {
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
