@media (max-width: 499px) {
  .orderDetails-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    padding: 20px;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    row-gap: 15px;
    min-width: 250px;
  }

  .orderDetails-text {
    background-color: white;
    color: var(--swatch-dark-blue);
    width: 250px;
  }

  .leaflet-container {
    width: auto;
    height: 200px;
    border-radius: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .orderDetails-button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
  }

  .orderDetails-error {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 300px 20px 20px 20px;
    text-align: center;
    font-size: 14px;
  }
}

@media (min-width: 500px) and (max-width: 899px) {
  .orderDetails-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    padding: 20px;
    background-color: white;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    row-gap: 15px;
  }

  .orderDetails-text {
    background-color: white;
    color: var(--swatch-dark-blue);
  }

  .leaflet-container {
    width: auto;
    height: 200px;
    border-radius: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .orderDetails-button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
  }

  .orderDetails-error {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 300px 20px 20px 20px;
    text-align: center;
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .orderDetails-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    row-gap: 15px;
    column-gap: 15px;
  }

  .orderDetails-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
  }

  .leaflet-container {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .orderDetails-button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
  }

  .orderDetails-error {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 300px 20px 20px 20px;
    text-align: center;
  }
}

.orderDetails-content {
  background-color: var(--swatch-light-blue);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.orderDetails-content-error {
  background-color: var(--swatch-light-blue);
  min-height: 100vh;
  width: 100%;
}

.orderDetails-text-line {
  border-bottom: 1px solid var(--swatch-dark-blue);
  font-size: 14px;
  text-align: left;
}
