.orderDetails-content {
  background-color: var(--swatch-light-blue);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.orderDetails-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.orderDetails-text {
  display: flex;
  background-color: white /*var(--swatch-dark-red)*/;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--swatch-dark-blue);
  border-radius: 10px;
  align-items: center;
  gap: 20px;
}

.orderDetails-text-line {
  border-bottom: 1px solid var(--swatch-dark-blue);
}

.orderDetails-error {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
