.button-style {
  width: 80px;
  height: 18px;
  background-color: var(--swatch-dark-blue);
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  font-size: 10px;
  font-weight: bold;
}
